*{
    box-sizing: border-box;
}
:root{
 --bg_black : #000;
 --bg_whitesmoke : whitesmoke;
 --bg_beige: #b0aaaa;
 --bg_violet: blueviolet;
}
body{
    background: var(--bg_black);
}
.container{
    margin: 0 auto;
    width: 90%;
    background-color: var(--bg_whitesmoke);
    line-height: 1.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 2em;
    font-size: 1.5rem;
}