*{
    margin: 0;
    padding: 0;
}
:root{
    --title_color: ;
    --main_bg: #71716e;
    --main_color: #fffefd;
    --container_bg: #606c68;
    --black: #000;
    --margin_design: 1em 0;
    --green_light: chartreuse;
    --ancre_link: #fff8e1;
    --answer_area: cyan;
}
.container{
    background-color: var(--container_bg);
    color: var(--main_color);
    line-height: 1.5;
    padding: 2em;
    font-size: 1.5rem;
}
main{
    margin: 0 auto;
    width: 90%;
    background-color: var(--main_bg);
    padding: 2em;
}
.resumeWrapper, .comment_area{
    color: var(--black);
}
.answerWrapper{
    color: var(--answer_area);
}
h2{
    color: var(--green_light);
    margin: 1em 0;
}
a{
    color: var(--ancre_link);
}
.php{
    background-color: var(--black);
    padding: 2em;
    color: var(--ancre_link);
    border-left: 15px solid orangered;
    text-align: center;
    border-radius: 0.5em;
    margin: 1em 0;
}